<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EatNet Home</title>
    <link rel="stylesheet" href="../public/css/mainstyle.css" />
    <link
      rel="shortcut icon"
      href="../public/img/icons/eatnet_icon_light.png"
      type="image/x-icon"
    />
    <script defer type="module" src="../public/js/controller.js"></script>
  </head>
  <body>
    <header class="header-page">
      <nav class="nav-bar">
        <img
          src="../public/img/icons/eatnet_logo.png"
          alt="EatNet Logo"
          class="img-logo"
        />
        <form action="" method="POST" class="form-search_bar">
          <input
            type="text"
            name="searchEntry"
            id="search_entry"
            value="Search for a cuisine or category."
            class="input-search_bar"
          />
        </form>
        <ul class="ul-top_nav_container">
          <li class="li-nav_item">
            <a href="" class="a-nav_item_link general-link-color">🔐User</a>
          </li>
          <li class="li-nav_item">
            <a href="" class="a-nav_item_link general-link-color">🛍Cart</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- main division -->
    <main class="main-page">
      <div class="page-heading">
        <p class="page-heading-text">
          <!-- <canvas
            class="lazy-loading-box page-heading-text-lazy-load"
            width="200"
            height="20"
          ></canvas> -->
          Restaurents Nearby
        </p>
      </div>
      <hr />
      <!-- <div class="grid-settings"> -->
      <div class="grid-settings-collection">
        <div class="grid-settings-filter grid-settings-tile">
          <a
            href=""
            class="grid-settings-filter-link general-link-color general-link-color"
            >Filter</a
          >
        </div>
        <div class="grid-settings-sort grid-settings-tile">
          <a
            href=""
            class="grid-settings-sort-link general-link-color general-link-color"
            >Sort</a
          >
        </div>
      </div>
      <!-- </div> -->
      <div class="grid-container">
        <!--  -->
        <div class="grid-item">
          <a href="" class="grid-item-link">
            <img
              src="https://i.pinimg.com/originals/95/be/aa/95beaab8d09c7d67c340ebf953a54c62.jpg"
              alt=""
              class="product-image"
            />
            <div class="product-details-box">
              <p class="product-title">Chicken Chow Ming Noodles</p>
              <p class="product-category">Chinese, Noodles, Non-veg</p>

              <p class="product-price">$ 12.00</p>
              <div class="product-rating">
                <p class="product-rating-starts">★</p>
                <p class="product-rating-text">3.7</p>
                <p class="product-review-count">
                  | <span class="product-review-count-text">345</span> Reviews
                </p>
              </div>
            </div>
          </a>
        </div>
        <!--  -->
      </div>
      <hr />
      <div class="pagination-bar">
        <a href="" class="page-front general-link-color">⏪ Previous</a>
        <p class="page-location">
          <span class="current-page">1</span> |
          <span class="total-page">25</span>
        </p>

        <a href="" class="page-back-link general-link-color">⏩ Next</a>
      </div>
    </main>
  </body>
</html>
